* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    position: relative;
    max-width: 1200px;
    min-width: 500px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    color: black;
    text-align: center;
    margin: 20px 0;
    font-size: 4rem;
    font-weight: 600;

}

.container .gallery {
    position: absolute;
    display: inline-grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(10, 30%);
    gap: 2rem;
    margin: 2rem 0;
}

.card {
    width: 100%;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
}

.card:hover {
    scale: 1.05;
    transition: 0.7s;
    filter: drop-shadow(0 0 10px gray);
}

img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

img:hover {
    filter: grayscale(0);
    transition: 0.7s;
}

.card figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    opacity: 0;
    color: #fff;
    border-radius: 0 0 10px 10px;
    transition: 0.3s;
}

.card:hover figcaption {
    opacity: 1;
    transform: scale(1.03);
}